.container_albums {
  display: inline-block;
  background: #e5e5e5;
  align-items: center;
  margin: 0, 0, auto;
  max-width: 1920px;
  width: 100em;
  height: 100%;
  text-align: center;
}

.app_container {
  background: #e5e5e5;
  height: 100vh;
  width: 100vw;
}
